@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Schibsted Grotesk', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  display: none;
}



#menuIcon {
  margin-right: 1rem;
}

.about-custom{
  background-image: url('https://i.imgur.com/RUwU1Zd.jpg')
}

