@tailwind base;
@tailwind components;
@tailwind utilities;

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
     
}

html {
  font-family: 'Schibsted Grotesk', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  display: none;
}

body {
  background-color: white;
}


#menuIcon {
  margin-right: 1rem;
}

.about-custom{
  background-image: url('https://i.imgur.com/RUwU1Zd.jpg')
}



.sb_footer {
  display: flex;
  flex-direction: column;
}

.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}

.sb_footer-links-div {
  width: 250px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: rgb(#2c2c2c);
}

.socialMedia {
  display: flex;
  flex-direction: row;
}

.sb_footer-links-div h4{
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

.sb_footer-links-div p{
  font-size: 13px;
  line-height: 20px;
  margin: 0.5rem 0;
  cursor: pointer;
  letter-spacing: .1rem;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.sb_footer-below-links {
  display: flex;
  flex-direction: row;
}

.sb_footer-below-links p{
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: black;
  font-weight: 600;
}

.hr1 {
  color: black !important;
  background: rgb(88, 87, 87);
  width: 100%;
  height: 2px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
    .sb_footer-heading h1{
      font-size: 44px;
      line-height: 50px;
    }

}

@media screen and (max-width: 550px) {
  .sb_footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }

  .sb_footer-links div{
    margin: 1rem 0;
  }

  .sb_footer-btn p{
    font-size: 14px;
    line-height:20px;
  }

  .sb_footer-below{
    flex-direction: column;
    justify-content: center;
  }

  .sb_footer-below-links{
    flex-direction: column;
  }

  .sb_footer-below-links p{
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .sb_footer-heading h1{
    font-size: 27px;
    line-height: 38px;
  }
}

#logo {
  font-size: 19px;
}

/* Slider */

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 25rem;
  padding: 1.6rem 0rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
